#tou h2{
	color: #b2652d;
	line-height: 60px;
	text-align: center;
	font-size: 34px;
	font-family: "幼圆";
	width: 15%;
	margin: 10px auto;
	letter-spacing: 2px;
	text-shadow: 4px 3px 3px #b7a696;
}
main{
	padding-bottom: 40px;
}
main h3{
	color: #923c3b;
	letter-spacing: 5px;
	text-align: center;
	line-height: 60px
}

main td,main tr{
	line-height: 36px;
}
main p{
	width: 80%;
	margin: 0 auto;
	font-size: 14px;
	line-height: 28px;
}

main .p2{
	text-indent: 2em;
	margin-bottom: 10px;
	width: 80%;
	font-size: 20px;
}
#liu{
	text-align: center;
	
}
#x{
	background-color: rgba(153,236,210,0.20);
}
