#tou h2{
	color: #b2652d;
	line-height: 60px;
	text-align: center;
	font-size: 34px;
	font-family: "幼圆";
	width: 15%;
	margin: 10px auto;
	letter-spacing: 2px;
	text-shadow: 4px 3px 3px #b7a696;
}
 #meng{
	font-family: "隶属";
	float: left;
	margin: auto 200px;	
	
}
#meng p img{
	float: right;
}
#li{
	font-family: "隶属";
	float: left;
	margin: auto 200px;	
	
}
#li p img{
	float: right;
}
#dao{
	font-family: "隶属";
	float: left;
	margin: auto 200px;	
	
}
#dao p img{
	float: right;
}
